<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染指令</title>
</head>

<body>

    <div id="app">

        v-if:后接的是等号，等号后面的内容是布尔值<br>
        <p v-if="6 < 3">{{apple}}</p>
        <p v-else-if="9 > 5">{{pineapple}}</p>
        <p v-else>{{banana}}</p>

        <hr>
        v-if的实例用法：<br>
        <div v-if="type==='name'">
            用户名:<input type="text" placeholder="请输入用户名" key="name">
        </div>
        <div v-else>
            密码:<input type="password" placeholder="请输入密码" key="psd">
        </div>
        <button v-on:click="toggleType">点击切换</button>

        <br>
        v-if弊端:Vue在渲染元素时，出于效率考虑，会尽可能地复用已有的元素而非重新渲染；只会渲染变化的元素，也就是说，input元素被复用了。<br>
        解决方法：加key，唯一,提供key值可以来决定是否复用该元素

        <hr>
        v-show用法：显现与否取决于布尔值
        <p v-show="9 > a">看到我</p>

        <hr>
        v-if与v-show的比较：<br>
        v-if:实时渲染：页面显示就渲染，不显示就移除<br>
        v-show:元素永远存在页面中，只是改变了css中的display属性<br>

        <hr>
    </div>

    <script src=" https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>

</html>